<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" maxRequestLength="2097152" executionTimeout="30" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Disable per-request IIS compression per contract §2 -->
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />

    <!-- Enable HTTP keep-alive -->
    <httpProtocol allowKeepAlive="true" />

    <!-- Handlers for contract §2 endpoints -->
    <handlers>
      <clear />
      <add name="PingHandler" path="ping" verb="GET" type="NetFx48Server.PingHandler, NetFx48Server" resourceType="Unspecified" />
      <add name="PayloadHandler" path="payload" verb="GET" type="NetFx48Server.PayloadHandler, NetFx48Server" resourceType="Unspecified" />
      <add name="HealthzHandler" path="healthz" verb="GET" type="NetFx48Server.HealthzHandler, NetFx48Server" resourceType="Unspecified" />
      <add name="MetaHandler" path="meta" verb="GET" type="NetFx48Server.MetaHandler, NetFx48Server" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
